src/resources/xmlschemas/SalesOrderListEndPointSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="account_id" type="xs:float"/>
  <xs:element name="address_id" type="xs:float"/>
  <xs:element name="sales_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="sales_order"/>
              <xs:element type="xs:long" name="internet_ref"/>
              <xs:element type="xs:string" name="quotation"/>
              <xs:element type="xs:int" name="purchase_order"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="num"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>